In [1]:
import pandas as pd
import numpy as np

## Extract

In [3]:
df_BI = pd.read_csv('Data/Brand_Image.csv', sep=';') 
df_smt = pd.read_csv('Data/2017Segmentation3685case.csv', sep=';')
df_BH = pd.read_csv('Data/Brandhealth.csv', sep=';')
df_cp = pd.read_csv('Data/Companion.csv', sep=';')
df_count = pd.read_csv('Data/Competitor database_xlnm#_FilterDatabase.csv', sep=';')
df_dow= pd.read_csv('Data/Dayofweek.csv', sep=';')
df_dp = pd.read_csv('Data/Daypart.csv', sep=';')
df_ns = pd.read_csv('Data/NeedstateDayDaypart.csv', sep=';')
df_sa = pd.read_csv('Data/SA#var.csv', sep=';')

/var/folders/4j/zzpj65z16_v0szts7v839b300000gn/T/ipykernel_10130/3529534785.py:3: DtypeWarning: Columns (4,7,8,10,11,12,16,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_BH = pd.read_csv('Data/Brandhealth.csv', sep=';')

In [5]:
df_BI.drop_duplicates(inplace=True)
df_smt.drop_duplicates(inplace=True)
df_BH.drop_duplicates(inplace=True)
df_cp.drop_duplicates(inplace=True)
df_count.drop_duplicates(inplace=True)
df_dow.drop_duplicates(inplace=True)
df_dp.drop_duplicates(inplace=True)
df_ns.drop_duplicates(inplace=True)
df_sa.drop_duplicates(inplace=True)

## Transform

In [ ]:
##1 Dim_Dayofweek
dow = [(2, 'Monday', 'Weekday'), 
       (3, 'Tuesday', 'Weekday'), 
       (4, 'Wednesday', 'Weekday'), 
       (5, 'Thursday', 'Weekday'), 
       (6, 'Friday', 'Weekday'), 
       (7, 'Saturday', 'Weekend'), 
       (8, 'Sunday', 'Weekend')]
df_dim_dow = pd.DataFrame(dow, columns=['DayofWeek_ID', 'Dayofweek', 'Weekday#end'])
print(df_dim_dow)

   DayofWeek_ID  Dayofweek Weekday#end
0             2     Monday     Weekday
1             3    Tuesday     Weekday
2             4  Wednesday     Weekday
3             5   Thursday     Weekday
4             6     Friday     Weekday
5             7   Saturday     Weekend
6             8     Sunday     Weekend

In [ ]:
##2 Dim_Daypart
df_dim_daypart = df_dp[['Daypart']].dropna().drop_duplicates().reset_index(drop=True)
df_dim_daypart['Daypart_ID'] = range(1, len(df_dim_daypart) + 1)
print(df_dim_daypart)

               Daypart  Daypart_ID
0   5 PM - before 9 PM           1
1  9 AM - before 11 AM           2
2        9 PM or later           3
3   2 PM - before 5 PM           4
4  11 AM - before 2 PM           5
5          Before 9 AM           6

In [ ]:
##3 Dim_Year
df_dim_year = pd.DataFrame({'Year': [2017, 2018, 2019]})
print(df_dim_year)

   Year
0  2017
1  2018
2  2019

In [ ]:
##4 Dim_City
cities_from_sa = df_sa[['City']].dropna()
cities_from_store = df_count[['City']].dropna()
df_dim_city = pd.concat([cities_from_sa, cities_from_store]).drop_duplicates().reset_index(drop=True)
df_dim_city['City_ID'] = range(1, len(df_dim_city) + 1)
print(df_dim_city)

              City  City_ID
0          Cần Thơ        1
1           Hà Nội        2
2      Hồ Chí Minh        3
3          Đà Nẵng        4
4        Hải Phòng        5
5        Nha Trang        6
6          Lào Cai        7
7        Quảng Nam        8
8       Quảng Ninh        9
9            Seoul       10
10        Hưng Yên       11
11        Nam Định       12
12       Thái Bình       13
13        Đồng Nai       14
14        Vũng Tàu       15
15         Đắk Lắk       16
16        Gyeonggi       17
17        Lạng Sơn       18
18     Thái Nguyên       19
19  Thừa Thiên Huế       20
20       Bình Định       21
21         Long An       22
22         Phú Thọ       23
23      Tiền Giang       24
24      Bình Dương       25
25       Thanh Hóa       26
26          Hà Nam       27
27        Bắc Ninh       28
28         Nghệ An       29

In [ ]:
##5 Dim_Customer
df_dim_customer = df_sa.drop(columns=['MPI#2', 'MPI_Mean_Use'])
df_dim_customer.head()

,ID,City,Group_size,Age,MPI#Mean,TOM,BUMO,BUMO_Previous,MostFavourite,Gender,MPI#detail,Age#group,Age#Group#2,MPI,Occupation,Occupation#group,Year,Col
0,348226,Cần Thơ,3.0,29.0,5499.0,Other 1,Other 1,NaN,Other 1,Female,From 4.5 millions to 6.49 millions VND,20 - 29,25 - 29 y.o.,VND 4.5m - VND 8.9m,"Unskilled Labor (worker, landry person, driver...",Blue Collar,2018,3
1,358485,Hà Nội,3.0,25.0,5499.0,Other 1,Other 1,NaN,Other 1,Male,From 4.5 millions to 6.49 millions VND,20 - 29,25 - 29 y.o.,VND 4.5m - VND 8.9m,"Unskilled Labor (worker, landry person, driver...",Blue Collar,2018,3
2,360729,Cần Thơ,3.0,25.0,5499.0,Other 1,Other 1,NaN,Other 1,Female,From 4.5 millions to 6.49 millions VND,20 - 29,25 - 29 y.o.,VND 4.5m - VND 8.9m,"Unskilled Labor (worker, landry person, driver...",Blue Collar,2018,3
3,360737,Cần Thơ,3.0,24.0,5499.0,Other 1,Other 1,NaN,Other 1,Male,From 4.5 millions to 6.49 millions VND,20 - 29,20 - 24 y.o.,VND 4.5m - VND 8.9m,"Skilled Labor (tailor, machinist, carpenter, e...",Blue Collar,2018,3
4,361753,Cần Thơ,3.0,26.0,5499.0,Other 1,Other 1,NaN,Other 1,Male,From 4.5 millions to 6.49 millions VND,20 - 29,25 - 29 y.o.,VND 4.5m - VND 8.9m,"Semi-skilled labor (salesperson, waiter, photo...",Blue Collar,2018,3

In [ ]:
##6 Dim_Brand
df_dim_brand = df_BI[['Awareness']].dropna().drop_duplicates().reset_index(drop=True)
df_dim_brand['Brand_ID'] = range(1, len(df_dim_brand) + 1)
df_dim_brand['BrandType'] = None
df_dim_brand.rename(columns={'Awareness': 'Brand'}, inplace=True)
print(df_dim_brand)

                                            Brand  Brand_ID BrandType
0                                Highlands Coffee         1      None
1                                 Indepedent Cafe         2      None
2                                          Milano         3      None
3                                        Gong Cha         4      None
4                          Coffee Bean & Tea Leaf         5      None
5                                       Phúc Long         6      None
6                              The Coffee Factory         7      None
7                                           Effoc         8      None
8                                     Saigon Café         9      None
9                                        KOI cafe        10      None
10                                    Thức Coffee        11      None
11                                         Passio        12      None
12                               The Coffee House        13      None
13                       Other Branded Cafe Chain        14      None
14                                  Urban Station        15      None
15                                    Maxx Coffee        16      None
16                                      Starbucks        17      None
17  Street / Half street coffee (including carts)        18      None
18                                        Other 2        19      None
19                                     Runam cafe        20      None
20                                        Other 3        21      None
21                                       Mộc Miên        22      None
22                                       Nia cafe        23      None
23                                         Đen Đá        24      None
24                                       Aha Cafe        25      None
25                                        Other 1        26      None
26                                         Street        27      None
27                                      Viva Star        28      None
28                                    Laha Coffee        29      None
29                                  Cheese Coffee        30      None
30                                The Cups Coffee        31      None
31                                         BonPas        32      None
32                                      Long Cafe        33      None
33                                       Mê Trang        34      None
34                                          Other        35      None
35                                   Trung Nguyên        36      None
36                                    Cộng Cà Phê        37      None

In [ ]:
##7 Dim_Needstate
df_dim_needstate = df_ns[['Needstates', 'NeedstateGroup']].dropna().drop_duplicates().reset_index(drop=True)
df_dim_needstate['Needstate_ID'] = range(1, len(df_dim_needstate) + 1)
df_dim_needstate.rename(columns={'Needstates': 'Needstate'}, inplace=True)
print(df_dim_needstate)

                                            Needstate  \
0                                     Drinking coffee
1   Drinking other beverages (excluding tea, coffe...
2                                        Drinking tea
3                                Drinking ice-blended
4                         Socializing with colleagues
5                 Socializing with family / relatives
6                                          Socialzing
7                            Socializing with friends
8   Enterntainment (watching movies. Playing games...
9                                    Relaxing (Alone)
10            Have meals (breakfast / lunch / dinner)
11                                Have snack / pastry
12                           Studying / Reading books
13                                              Other
14                         Working / Business meeting

                NeedstateGroup  Needstate_ID
0           Drinking beverages             1
1           Drinking beverages             2
2           Drinking beverages             3
3           Drinking beverages             4
4                  Socializing             5
5                  Socializing             6
6                  Socializing             7
7                  Socializing             8
8     Relaxing & entertainment             9
9     Relaxing & entertainment            10
10               Meals & Snack            11
11               Meals & Snack            12
12           Studying & Others            13
13           Studying & Others            14
14  Working & business meeting            15

In [ ]:
##8 Dim_Companion
df_dim_companion = df_cp[['Companion#group']].dropna().drop_duplicates().reset_index(drop=True)
df_dim_companion['Companion_ID'] = range(1, len(df_dim_companion) + 1)
print(df_dim_companion)

                 Companion#group  Companion_ID
0                        Friends             1
1                         Family             2
2  Colleagues / Business partner             3
3                          Alone             4
4         Boyfriend / Girlfriend             5
5                         Others             6

In [29]:
##9 Dim_NPS
df_dim_nps = df_BH[['NPS#P3M', 'NPS#P3M#Group']].dropna().drop_duplicates().reset_index(drop=True)
df_dim_nps['NPS_ID'] = range(1, len(df_dim_nps) + 1)
print(df_dim_nps)

    NPS#P3M NPS#P3M#Group  NPS_ID
0       9.0      Promoter       1
1       8.0       Passive       2
2       7.0       Passive       3
3      10.0      Promoter       4
4       5.0     Detractor       5
5       6.0     Detractor       6
6       0.0     Detractor       7
7       4.0     Detractor       8
8       3.0     Detractor       9
9       1.0     Detractor      10
10      2.0     Detractor      11

In [30]:
##10 Dim_Segmentation
df_dim_segmentation = df_BH[['Segmentation']].dropna().drop_duplicates().reset_index(drop=True)
df_dim_segmentation['Segmentation_ID'] = range(1, len(df_dim_segmentation) + 1)
print(df_dim_segmentation)

                            Segmentation  Segmentation_ID
0               Seg.01 - Mass (<VND 25K)                1
1  Seg.02 - Mass Asp (VND 25K - VND 59K)                2
2   Seg.03 - Premium (VND 60K - VND 99K)                3
3     Seg.04 - Super Premium (VND 100K+)                4

In [ ]:
##1 Fact_BrandImage
df_fact_brand_image = df_BI
df_fact_brand_image['BI_ID'] = range(1, len(df_fact_brand_image) + 1)
print(df_fact_brand_image.head())

#Merge Dim_Brand with Fact_BrandImage
df_fact_brand_image = pd.merge(df_fact_brand_image, df_dim_brand[['Brand', 'Brand_ID']], left_on='Awareness', right_on='Brand', how='left')
print(df_fact_brand_image.head())
df_fact_brand_image.drop(columns=['Awareness', 'Brand'], inplace=True)
df_fact_brand_image.rename(columns={'Brand_ID': 'Awareness_ID'}, inplace=True)

df_fact_brand_image = pd.merge(df_fact_brand_image, df_dim_brand[['Brand', 'Brand_ID']], left_on='BrandImage', right_on='Brand', how='left')
print(df_fact_brand_image.head())
df_fact_brand_image.drop(columns=['BrandImage', 'Brand'], inplace=True)
df_fact_brand_image.rename(columns={'Brand_ID': 'BrandImage_ID'}, inplace=True)

# Merge Dim_City with Fact_BrandImage
df_fact_brand_image = df_fact_brand_image.merge(df_dim_city[['City_ID', 'City']], on='City', how='left')
print(df_fact_brand_image.head())
df_fact_brand_image.drop(columns=['City'], inplace=True)

       ID  Year    City         Awareness      Attribute        BrandImage  \
0  725118  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee
1  725466  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee
2  726561  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee
3  726862  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee
4  727219  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee

   BI_ID
0      1
1      2
2      3
3      4
4      5
       ID  Year    City         Awareness      Attribute        BrandImage  \
0  725118  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee
1  725466  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee
2  726561  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee
3  726862  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee
4  727219  2019  Hà Nội  Highlands Coffee  Popular brand  Highlands Coffee

   BI_ID             Brand  Brand_ID
0      1  Highlands Coffee       1.0
1      2  Highlands Coffee       1.0
2      3  Highlands Coffee       1.0
3      4  Highlands Coffee       1.0
4      5  Highlands Coffee       1.0
       ID  Year    City      Attribute        BrandImage  BI_ID  Awareness_ID  \
0  725118  2019  Hà Nội  Popular brand  Highlands Coffee      1           1.0
1  725466  2019  Hà Nội  Popular brand  Highlands Coffee      2           1.0
2  726561  2019  Hà Nội  Popular brand  Highlands Coffee      3           1.0
3  726862  2019  Hà Nội  Popular brand  Highlands Coffee      4           1.0
4  727219  2019  Hà Nội  Popular brand  Highlands Coffee      5           1.0

              Brand  Brand_ID
0  Highlands Coffee         1
1  Highlands Coffee         1
2  Highlands Coffee         1
3  Highlands Coffee         1
4  Highlands Coffee         1
       ID  Year    City      Attribute  BI_ID  Awareness_ID  BrandImage_ID  \
0  725118  2019  Hà Nội  Popular brand      1           1.0              1
1  725466  2019  Hà Nội  Popular brand      2           1.0              1
2  726561  2019  Hà Nội  Popular brand      3           1.0              1
3  726862  2019  Hà Nội  Popular brand      4           1.0              1
4  727219  2019  Hà Nội  Popular brand      5           1.0              1

   City_ID
0        2
1        2
2        2
3        2
4        2

In [ ]:
##2 Fact_BrandHealth
df_brand_health = df_BH.drop(columns=['Spending_use', 'NPS#P3M#Group'])
df_brand_health['BH_ID'] = range(1, len(df_brand_health) + 1)
print(df_brand_health.head())

#Merge Dim_Brand with Fact_BrandHealth
df_brand_health = df_brand_health.merge(df_dim_brand[['Brand_ID', 'Brand']], on='Brand', how='left')
print(df_brand_health.head())
df_brand_health.drop(columns=['Brand'], inplace=True)

#Merge Dim_City with Fact_BrandHealth
df_brand_health = df_brand_health.merge(df_dim_city[['City_ID', 'City']], on='City', how='left')
print(df_brand_health.head())
df_brand_health.drop(columns=['City'], inplace=True)

# Merge Dim_Segmentation with Fact_BrandHealth
df_brand_health = df_brand_health.merge(df_dim_segmentation[['Segmentation_ID', 'Segmentation']], on='Segmentation', how='left')
print(df_brand_health.head())
df_brand_health.drop(columns=['Segmentation'], inplace=True)

# Merge Dim_NPS with Fact_BrandHealth
df_brand_health = df_brand_health.merge(df_dim_nps[['NPS_ID', 'NPS#P3M']], on='NPS#P3M', how='left')
print(df_brand_health.head())
df_brand_health.drop(columns=['NPS#P3M'], inplace=True)

       ID  Year         City      Brand Spontaneous  Awareness Trial  P3M  \
0  345853  2018  Hồ Chí Minh  Phúc Long         NaN  Phúc Long   NaN  NaN
1  348403  2018  Hồ Chí Minh  Phúc Long         NaN  Phúc Long   NaN  NaN
2  349552  2018  Hồ Chí Minh  Phúc Long         NaN  Phúc Long   NaN  NaN
3  349764  2018  Hồ Chí Minh  Phúc Long         NaN  Phúc Long   NaN  NaN
4  350072  2018  Hồ Chí Minh  Phúc Long         NaN  Phúc Long   NaN  NaN

   P1M Comprehension Brand_Likability Weekly Daily  Fre#visit  PPA  Spending  \
0  NaN           NaN              NaN    NaN   NaN        NaN  NaN       NaN
1  NaN           NaN              NaN    NaN   NaN        NaN  NaN       NaN
2  NaN           NaN              NaN    NaN   NaN        NaN  NaN       NaN
3  NaN           NaN              NaN    NaN   NaN        NaN  NaN       NaN
4  NaN           NaN              NaN    NaN   NaN        NaN  NaN       NaN

  Segmentation  NPS#P3M  BH_ID
0          NaN      NaN      1
1          NaN      NaN      2
2          NaN      NaN      3
3          NaN      NaN      4
4          NaN      NaN      5
       ID  Year         City      Brand Spontaneous  Awareness Trial  P3M  \
0  345853  2018  Hồ Chí Minh  Phúc Long         NaN  Phúc Long   NaN  NaN
1  348403  2018  Hồ Chí Minh  Phúc Long         NaN  Phúc Long   NaN  NaN
2  349552  2018  Hồ Chí Minh  Phúc Long         NaN  Phúc Long   NaN  NaN
3  349764  2018  Hồ Chí Minh  Phúc Long         NaN  Phúc Long   NaN  NaN
4  350072  2018  Hồ Chí Minh  Phúc Long         NaN  Phúc Long   NaN  NaN

   P1M Comprehension Brand_Likability Weekly Daily  Fre#visit  PPA  Spending  \
0  NaN           NaN              NaN    NaN   NaN        NaN  NaN       NaN
1  NaN           NaN              NaN    NaN   NaN        NaN  NaN       NaN
2  NaN           NaN              NaN    NaN   NaN        NaN  NaN       NaN
3  NaN           NaN              NaN    NaN   NaN        NaN  NaN       NaN
4  NaN           NaN              NaN    NaN   NaN        NaN  NaN       NaN

  Segmentation  NPS#P3M  BH_ID  Brand_ID
0          NaN      NaN      1         6
1          NaN      NaN      2         6
2          NaN      NaN      3         6
3          NaN      NaN      4         6
4          NaN      NaN      5         6
       ID  Year         City Spontaneous  Awareness Trial  P3M  P1M  \
0  345853  2018  Hồ Chí Minh         NaN  Phúc Long   NaN  NaN  NaN
1  348403  2018  Hồ Chí Minh         NaN  Phúc Long   NaN  NaN  NaN
2  349552  2018  Hồ Chí Minh         NaN  Phúc Long   NaN  NaN  NaN
3  349764  2018  Hồ Chí Minh         NaN  Phúc Long   NaN  NaN  NaN
4  350072  2018  Hồ Chí Minh         NaN  Phúc Long   NaN  NaN  NaN

  Comprehension Brand_Likability Weekly Daily  Fre#visit  PPA  Spending  \
0           NaN              NaN    NaN   NaN        NaN  NaN       NaN
1           NaN              NaN    NaN   NaN        NaN  NaN       NaN
2           NaN              NaN    NaN   NaN        NaN  NaN       NaN
3           NaN              NaN    NaN   NaN        NaN  NaN       NaN
4           NaN              NaN    NaN   NaN        NaN  NaN       NaN

  Segmentation  NPS#P3M  BH_ID  Brand_ID  City_ID
0          NaN      NaN      1         6        3
1          NaN      NaN      2         6        3
2          NaN      NaN      3         6        3
3          NaN      NaN      4         6        3
4          NaN      NaN      5         6        3
       ID  Year Spontaneous  Awareness Trial  P3M  P1M Comprehension  \
0  345853  2018         NaN  Phúc Long   NaN  NaN  NaN           NaN
1  348403  2018         NaN  Phúc Long   NaN  NaN  NaN           NaN
2  349552  2018         NaN  Phúc Long   NaN  NaN  NaN           NaN
3  349764  2018         NaN  Phúc Long   NaN  NaN  NaN           NaN
4  350072  2018         NaN  Phúc Long   NaN  NaN  NaN           NaN

  Brand_Likability Weekly Daily  Fre#visit  PPA  Spending Segmentation  \
0              NaN    NaN   NaN        NaN  NaN       NaN          NaN
1              NaN    NaN   NaN        NaN  NaN       NaN          NaN
2              NaN    NaN   NaN        NaN  NaN       NaN          NaN
3              NaN    NaN   NaN        NaN  NaN       NaN          NaN
4              NaN    NaN   NaN        NaN  NaN       NaN          NaN

   NPS#P3M  BH_ID  Brand_ID  City_ID  Segmentation_ID
0      NaN      1         6        3              NaN
1      NaN      2         6        3              NaN
2      NaN      3         6        3              NaN
3      NaN      4         6        3              NaN
4      NaN      5         6        3              NaN

In [45]:
##3 Fact_Companion
df_fact_companion = df_cp.drop(columns=['Year', 'City'])
df_fact_companion['Fact_Companion_ID'] = range(1, len(df_fact_companion) + 1)
print(df_fact_companion.head())

# Merge Dim_Companion with Fact_Companion
df_fact_companion = df_fact_companion.merge(df_dim_companion, on='Companion#group', how='left')
print(df_fact_companion.head())
df_fact_companion.drop(columns=['Companion#group'], inplace=True)

       ID Companion#group  Fact_Companion_ID
0  725466         Friends                  1
1  726862         Friends                  2
2  727015         Friends                  3
3  727219         Friends                  4
4  727611         Friends                  5
       ID Companion#group  Fact_Companion_ID  Companion_ID
0  725466         Friends                  1             1
1  726862         Friends                  2             1
2  727015         Friends                  3             1
3  727219         Friends                  4             1
4  727611         Friends                  5             1

In [ ]:
##4 Fact_Needstate (overall)
df_fact_needstate = df_ns[df_ns['Day#Daypart'] == 'Overall'].drop(columns=['Day#Daypart', 'NeedstateGroup', 'Year', 'City'])
df_fact_needstate['Fact_Needstate_ID'] = range(1, len(df_fact_needstate) + 1)
df_fact_needstate.rename(columns={'Needstates': 'Needstate'}, inplace=True)
print(df_fact_needstate.head())

# Merging Dim_Needstate with Fact_Needstate
df_fact_needstate = df_fact_needstate.merge(
    df_dim_needstate[['Needstate', 'Needstate_ID']],
    on='Needstate',
    how='left'
)
print(df_fact_needstate.head())
df_fact_needstate = df_fact_needstate.drop(columns=['Needstate'])

       ID        Needstate  Fact_Needstate_ID
0  725118  Drinking coffee                  1
1  725466  Drinking coffee                  2
2  726561  Drinking coffee                  3
3  726862  Drinking coffee                  4
4  727015  Drinking coffee                  5
       ID        Needstate  Fact_Needstate_ID  Needstate_ID
0  725118  Drinking coffee                  1             1
1  725466  Drinking coffee                  2             1
2  726561  Drinking coffee                  3             1
3  726862  Drinking coffee                  4             1
4  727015  Drinking coffee                  5             1

In [42]:
##5 Fact_StoreCount
df_fact_store_count = df_count
print(df_fact_store_count.head())

# Merging Dim_City with Fact_StoreCount
df_fact_store_count = df_fact_store_count.merge(
    df_dim_city[['City', 'City_ID']],
    on='City',
    how='left'
)
print(df_fact_store_count.head())
df_fact_store_count = df_fact_store_count.drop(columns=['City'])

# Merging Dim_Brand with Fact_StoreCount
df_fact_store_count = df_fact_store_count.merge(
    df_dim_brand[['Brand', 'Brand_ID']],
    on='Brand',
    how='left'
)
print(df_fact_store_count.head())
df_fact_store_count = df_fact_store_count.drop(columns=['Brand'])

   No#        Brand        City  Year  StoreCount  StoreCount_ID
0    6  Cộng Cà Phê   Hải Phòng  2017           1              1
1    9  Cộng Cà Phê     Lào Cai  2017           1              2
2   10  Cộng Cà Phê   Nha Trang  2017           1              3
3   11  Cộng Cà Phê   Quảng Nam  2017           1              4
4   12  Cộng Cà Phê  Quảng Ninh  2017           1              5
   No#        Brand        City  Year  StoreCount  StoreCount_ID  City_ID
0    6  Cộng Cà Phê   Hải Phòng  2017           1              1        5
1    9  Cộng Cà Phê     Lào Cai  2017           1              2        7
2   10  Cộng Cà Phê   Nha Trang  2017           1              3        6
3   11  Cộng Cà Phê   Quảng Nam  2017           1              4        8
4   12  Cộng Cà Phê  Quảng Ninh  2017           1              5        9
   No#        Brand  Year  StoreCount  StoreCount_ID  City_ID  Brand_ID
0    6  Cộng Cà Phê  2017           1              1        5        37
1    9  Cộng Cà Phê  2017           1              2        7        37
2   10  Cộng Cà Phê  2017           1              3        6        37
3   11  Cộng Cà Phê  2017           1              4        8        37
4   12  Cộng Cà Phê  2017           1              5        9        37

## Load

In [ ]:
df_fact_brand_image.to_csv('Data/Fact_BrandImage.csv', sep=';', index=False)
df_brand_health.to_csv('Data/Fact_BrandHealth.csv', sep=';', index=False)
df_fact_companion.to_csv('Data/Fact_Companion.csv', sep=';', index=False)
df_fact_needstate.to_csv('Data/Fact_Needstate.csv', sep=';', index=False)
df_fact_store_count.to_csv('Data/Fact_StoreCount.csv', sep=';', index=False)
df_dim_dow.to_csv('Data/Dim_Dayofweek.csv', sep=';', index=False)
df_dim_daypart.to_csv('Data/Dim_Daypart.csv', sep=';', index=False)
df_dim_year.to_csv('Data/Dim_Year.csv', sep=';', index=False)
df_dim_city.to_csv('Data/Dim_City.csv', sep=';', index=False)
df_dim_customer.to_csv('Data/Dim_Customer.csv', sep=';', index=False)
df_dim_brand.to_csv('Data/Dim_Brand.csv', sep=';', index=False)
df_dim_needstate.to_csv('Data/Dim_Needstate.csv', sep=';', index=False)
df_dim_companion.to_csv('Data/Dim_Companion.csv', sep=';', index=False)
df_dim_nps.to_csv('Data/Dim_NPS.csv', sep=';', index=False)
df_dim_segmentation.to_csv('Data/Dim_Segmentation.csv', sep=';', index=False)